<!--[if lt IE 9]>
script(src='libs/html5shiv/es5-shim.min.js')
script(src='libs/html5shiv/html5shiv.min.js')
script(src='libs/html5shiv/html5shiv-printshiv.min.js')
script(src='libs/html5shiv/respond.min.js')
<![endif]-->

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
script(src='js/build.js')